h1,
h2,
h3 {
  font-weight: 600;
}

p,
li {
  font-weight: 400;
}

a {
  color: var(--hover-text-color);
  text-decoration: none;
}

a:hover {
  color: var(--hover-color);
}

.navbar {
  border-bottom: 0.1rem solid var(--text-color);
}
